body{
  background-color: darkslateblue;
}

main{
width: 100%;
height: 100vh;
justify-content: center;
align-items: center;
display: flex;
}

span{
  font-size: 50px;
  margin: 50px;
  padding: 10px;
  border-radius: 5px;
}

#horas, #minutos, #segundos{
  background-color: white;
}