main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#contador{
  background: darksalmon;
  padding: 40px;
  border-radius: 5px;
}

#contar{
  text-align: center;
  margin-bottom: 16px;
  font-size: 2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
    transition: transform 0.5s;
}
button:hover{
  background: #dcdcdc;
  transition: 0.3s;
}
button:active{
    transform: scale(0.95);
}

#limpar{
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
    transition: transform 0.5s;
}
#limpar:hover{
  background: #dcdcdc;
  transition: 0.3s;
}
#limpar:active{
    transform: scale(0.95);
}